
.note {
    color: #155724;
    background-color: #d4edda;
    border:1px solid #c4ddca;
    padding: .1rem 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
}
.note > * {
    margin-block: 0.75em
}

// Make single backticks stand out more.
 *:not(p) > code, * > code {
    background-color:rgba(27, 31, 35, 0.05);
    padding: .2em .4em;
}

// Make blockquotes stand out more

blockquote {
    background-color:rgba(27, 31, 35, 0.05);
    padding: .5rem 1.5rem;
    margin: 0;
    border-radius: .25rem;
}

// Reset the selection background color from the awful default from the theme.
::selection {
    background-color: highlight;
     color: highlighttext;

}


.app-header{
    padding:0;
    background-image: url(/background_pattern.jpg);
}
img.app-header-avatar {
    margin: 2.5em;
    border: none;
    width: 10em;
    height: 10em;
    object-fit: cover;
    object-position: top;
}
.app-header > h1 {
 font-size: 1.9em;
}
.app-header > p, .app-header > h1 {
    margin:0;
    color: black;
    background:rgba(255, 255, 255, .5);
    width: 100%;
    padding: .2em 2em;
    text-transform: uppercase;
}

.posts-list-item-image {
    max-width:100%;
    display:block;
}
.posts-list-item:not(:last-child){
    padding-bottom:2em;
    border-bottom: double 7px #49adad;
    padding-bottom: 6rem;
    margin-bottom: 4rem;
}

h1 {
    font-size: 2.2rem;
    font-weight: 900
}

article {
    position: relative;
    margin-left: 2.2rem;
}

.more {
    display: block;
    padding: 0.35rem 1.3rem 0.4rem 1rem;
    border-radius: 50px;
    border: 2px solid #3f413a;
    color: #3f413a;
    outline: 0;
    float: right;
    font-size: 1rem;
    font-weight: 700;
    line-height: 2rem;
    transition: border-color 0.2s ease-in-out;
}
.more > span {
    color: #49adad;
}
.page-item.active > .page-link  {
    color: white;
}

code {
    color: inherit;
}

pre.chroma {
    padding: 1rem 0.5rem;
    border-radius: .25rem;
}

/* Background */ .chroma { color: #f8f8f2; background-color: #272822 }
/* Error */ .chroma .err { color: #960050; background-color: #1e0010 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ .chroma .k { color: #66d9ef }
/* KeywordConstant */ .chroma .kc { color: #66d9ef }
/* KeywordDeclaration */ .chroma .kd { color: #66d9ef }
/* KeywordNamespace */ .chroma .kn { color: #f92672 }
/* KeywordPseudo */ .chroma .kp { color: #66d9ef }
/* KeywordReserved */ .chroma .kr { color: #66d9ef }
/* KeywordType */ .chroma .kt { color: #66d9ef }
/* NameAttribute */ .chroma .na { color: #a6e22e }
/* NameClass */ .chroma .nc { color: #a6e22e }
/* NameConstant */ .chroma .no { color: #66d9ef }
/* NameDecorator */ .chroma .nd { color: #a6e22e }
/* NameException */ .chroma .ne { color: #a6e22e }
/* NameFunction */ .chroma .nf { color: #a6e22e }
/* NameOther */ .chroma .nx { color: #a6e22e }
/* NameTag */ .chroma .nt { color: #f92672 }
/* Literal */ .chroma .l { color: #ae81ff }
/* LiteralDate */ .chroma .ld { color: #e6db74 }
/* LiteralString */ .chroma .s { color: #e6db74 }
/* LiteralStringAffix */ .chroma .sa { color: #e6db74 }
/* LiteralStringBacktick */ .chroma .sb { color: #e6db74 }
/* LiteralStringChar */ .chroma .sc { color: #e6db74 }
/* LiteralStringDelimiter */ .chroma .dl { color: #e6db74 }
/* LiteralStringDoc */ .chroma .sd { color: #e6db74 }
/* LiteralStringDouble */ .chroma .s2 { color: #e6db74 }
/* LiteralStringEscape */ .chroma .se { color: #ae81ff }
/* LiteralStringHeredoc */ .chroma .sh { color: #e6db74 }
/* LiteralStringInterpol */ .chroma .si { color: #e6db74 }
/* LiteralStringOther */ .chroma .sx { color: #e6db74 }
/* LiteralStringRegex */ .chroma .sr { color: #e6db74 }
/* LiteralStringSingle */ .chroma .s1 { color: #e6db74 }
/* LiteralStringSymbol */ .chroma .ss { color: #e6db74 }
/* LiteralNumber */ .chroma .m { color: #ae81ff }
/* LiteralNumberBin */ .chroma .mb { color: #ae81ff }
/* LiteralNumberFloat */ .chroma .mf { color: #ae81ff }
/* LiteralNumberHex */ .chroma .mh { color: #ae81ff }
/* LiteralNumberInteger */ .chroma .mi { color: #ae81ff }
/* LiteralNumberIntegerLong */ .chroma .il { color: #ae81ff }
/* LiteralNumberOct */ .chroma .mo { color: #ae81ff }
/* Operator */ .chroma .o { color: #f92672 }
/* OperatorWord */ .chroma .ow { color: #f92672 }
/* Comment */ .chroma .c { color: #75715e }
/* CommentHashbang */ .chroma .ch { color: #75715e }
/* CommentMultiline */ .chroma .cm { color: #75715e }
/* CommentSingle */ .chroma .c1 { color: #75715e }
/* CommentSpecial */ .chroma .cs { color: #75715e }
/* CommentPreproc */ .chroma .cp { color: #75715e }
/* CommentPreprocFile */ .chroma .cpf { color: #75715e }
/* GenericDeleted */ .chroma .gd { color: #f92672 }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericInserted */ .chroma .gi { color: #a6e22e }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #75715e }
