.app-header{
    padding:0;
    background-image: url(/background_pattern.jpg);
}
img.app-header-avatar {
    margin: 2.5em;
    border: none;
    width: 10em;
    height: 10em;
    object-fit: cover;
    object-position: top;
}
.app-header > h1 {
 font-size: 1.9em;
}
.app-header > p, .app-header > h1 {
    margin:0;
    color: black;
    background:rgba(255, 255, 255, .5);
    width: 100%;
    padding: .2em 2em;
    text-transform: uppercase;
}

.posts-list-item-image {
    max-width:100%;
    display:block;
}
.posts-list-item:not(:last-child){
    padding-bottom:2em;
    border-bottom: double 7px #49adad;
    padding-bottom: 6rem;
    margin-bottom: 4rem;
}

h1 {
    font-size: 2.2rem;
    font-weight: 900
}

article {
    position: relative;
    margin-left: 2.2rem;
}

.more {
    display: block;
    padding: 0.35rem 1.3rem 0.4rem 1rem;
    border-radius: 50px;
    border: 2px solid #3f413a;
    color: #3f413a;
    outline: 0;
    float: right;
    font-size: 1rem;
    font-weight: 700;
    line-height: 2rem;
    transition: border-color 0.2s ease-in-out;
}
.more > span {
    color: #49adad;
}
.page-item.active > .page-link  {
    color: white;
    color: #353b43;
}
